.navbar1 {
	background-color: rgba(0,0,0,0.6);
}

.block1 {
    border: 2px solid #ee5253;
}


.menu1 .fa-gear {
    background-color: #ee5253;
}

.footer {background:radial-gradient(circle farthest-side at 15% 75%, #ee5253 20%,#833c90 90%);}





h2 {color: #ee5253}

.menu1 {
	background-color: #343a40;}

.menu1 .theme {
	background-color: #f1f1f1;}


.buttons {
	background-color: #ee5253;}
.buttons1 {
    background-color: #ee5253;
}

.buttons2 {
    background-color: #ee5253;
}


.items {
    color: #ee5253;
}

.menu1 .remove i {
	color: #ee5253;}

.block1 {background-color: rgba(0,0,0,0.00)}


.bar4 {;
    background-color: #ee5253;
}

.social {
    color: #ee5253;
}

.bar1, .bar2, .bar3 {background-color: #ee5253;
}
